In [6]:
print(42)

import pyarrow.parquet as pq
print(pq)

import numpy as np
import pandas as pd
import pyarrow as pa

df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                'two': ['foo', 'bar', 'baz'],
                'three': [True, False, True]},
                index=list('abc'))

42
<module 'pyarrow.parquet' from 'c:\\users\\epr\\ideaprojects\\pysandbox\\venv\\lib\\site-packages\\pyarrow\\parquet.py'>

In [7]:
table = pa.Table.from_pandas(df)
pq.write_table(table,'C:/tmp/tst.parquet')

In [8]:
table2 = pq.read_table('C:/tmp/tst.parquet')
table2.to_pandas()

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True